input {
    display: block;
    margin: 5px;
    font-family: Arial;
    padding: 5px;
    box-shadow: 1px 1px 2px black;
}

.text{
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}
img {
    margin-left: 300px;
    margin-right: 300px;
    height: 100px;
}
.search {
    margin-left: 270px;
    margin-right: 300px;
    border-radius: 10px;
    width: 300px;
    border-width: 1px;
    padding: 5px;
    box-shadow: 1px 1px 2px black;
}