img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}

.inner_div {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    width: 300px;
}

div {
    vertical-align: middle;
    margin: 5px;
}


p {
    font-family: 'Mooli';
    vertical-align: ;
}

button {
    background-color: rgb(5, 177, 245);
    font-size: large;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

button:hover {
    box-shadow: 5px 5px 5px rgb(4, 66, 90);
}